@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Leonardo Migdady</h3>

<address>
    <strong>Github:</strong> <a href="https://github.com/migdady14">github.com/migdady14</a>
</address>
